<a href="https://colab.research.google.com/github/RodriguoGoncalves/TiposOperacoes/blob/main/TIPOS_OPERAC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# ***Funções, Tipos, Operações, Listas***



> Funções:


*   Print()
*   Input()


* `Função Print:` Exibe na tela o valor do tipo string que está entre parênteses.  Quando o Python executa essa linha, dizemos que ele está
  *chamando a função print()* e que o valor do tipo string está sendo passado para a função. Um valor passado para uma função chama-se **argumento**.<br><br>
Observe que as aspas não são exibidas na tela. Elas simplesmente marcam os locais em que a string começa e termina e não fazem parte do valor da string.

In [ ]:
print('Função print') #Esta função quer dizer “exiba o texto que está na string 'Função print'".

Função print

In [ ]:
print()#Também podemos usar essa função para inserir uma linha em branco na tela

* `Função input:` Espera o usuário digitar um texto no teclado e pressionar ENTER. pensar na chamada da função input() como uma expressão
avaliada com qualquer string que o usuário digitar. Se o usuário digitar 'Al', a expressão será avaliada como myName = 'Al'.

In [ ]:
digiteSeuNome = input()#escreva um texto com  números e verá que o tipo será string
type(digiteSeuNome)
print("Seu nome é:" + digiteSeuNome)
type(digiteSeuNome)

teste12
Seu nome é:teste12

str

> Tipos:


*   Números (inteiro/float)
*   Strings


* `Números:` O python  suporta os os tipos numéricos normais:números inteiros e ponto flutuante, e toda sua sintaxe operações associadas. Ele  permite que você escreva inteiros usando literais em hexadecimal e octal. O Python também tem um tipo de número complexo,assim como um tipo inteiro longo com precisão ilimitada (ele pode crescer até ter tantos dígitos quanto seu espaço em memória permitir). Vamos tratar:
*   Inteiros
*   Flutuantes(float)

In [ ]:
INTEIROS_NORMAIS = 10
print(INTEIROS_NORMAIS)
type(INTEIROS_NORMAIS)

10

int

In [ ]:
INTEIROS_FLUTUANTE = 1.2
print(INTEIROS_FLUTUANTE)
type(INTEIROS_FLUTUANTE)

1.2

float

* `strings:` O próximo tipo interno importante no Python é conhecido como string- um conjunto ordenado de caracteres,usado para armazenar e representar informações textuais.Da perspectiva funcional,as strings podem ser usadas para representar praticamente tudo que pode ser escri
to como texto:símbolos e palavras(seu nome,por exemplo),conteúdo de arquivos de texto carregados na memória,endereços de Internet,programas em Python etc. Vamos ver:

*   Aspas simples e duplas
*   Len
*   Aspas simples e duplas
*   Capitalize
*   Count
*   Upper
*   Lower

In [ ]:
texto_aspas_simples = 'Texto escrito em aspas simples'
texto_aspas_duplas = "Texto escrito em aspas duplas. Não há diferença"
print(texto_aspas_simples,texto_aspas_duplas, sep="~")
type(texto_aspas_simples)

Texto escrito em aspas simples~Texto escrito em aspas duplas. Não há diferença

str

In [ ]:
comprimento = 'rodrigo'
tamanho_texto = len(comprimento) #len = retorna o número de caracteres na string. 
print("Tamanho do texto", tamanho_texto)

Tamanho do texto 7

In [ ]:
capitalizar = comprimento.capitalize() #capitalize = retorna uma cópia da string original e converte o primeiro caractere da string em uma letra maiúscula (maiúscula) , enquanto todos os outros caracteres da string são convertidos em letras minúsculas .
print(capitalizar)

Rodrigo

In [ ]:
contador = comprimento.count("o") # retorna o número de elementos com o valor especificado.
print("rodrigo tem", contador, "o's")

rodrigo tem 2 o's

In [ ]:
maiusculo = comprimento.upper() #converte todos os caracteres minúsculos em  maiúsculos
print(maiusculo)

RODRIGO

In [ ]:
minusculo = comprimento.lower() #converte todos os caracteres maiúsculos em  minúsculos
print(minusculo)

rodrigo

> Listas:<br><br>

  Conjunto sequencial de valores(tem começo e fim). No python, definimos uma lista com colchetes [].Se eu quero um conjunto de dados que eu queira manipular, tem-se que colocar [entre colchetes].

In [ ]:
 #importancia dos colchetes
 Variavel = 15,16,17 #Sem colocar os colchetes, temos uma tupla e não uma lista. 
 print(Variavel) # No print teremos o resultado entre parênteses.
 type(Variavel)

(15, 16, 17)

tuple

In [ ]:
                            #Listas (No pandas falamos listas no Numpy é  array )
Lista = [10,11,12, "texto1", "texto2"] #Em uma lista podemos trabalhar tanto com números quanto com texto
print(Lista) # No print teremos o resultado entre colchetes.
type(Lista)

[10, 11, 12, 'texto1', 'texto2']

list

In [ ]:
                            #Se eu quero que retorne apenas o número 12, tenho que colocar no print o número 2 em vez de 3
                            # porque temos que começar a contar pelo zero.A lista não vai de 1 a n e sim de 0 a n
Lista = [10,11,12, "texto1", "texto2"] #Em uma lista podemos trabalhar tanto com números quanto com texto
print(Lista[2]) # 10 = 0, 11 = 1, 12 = 2
type(Lista)

12

list

In [ ]:
                            #Vamos inserir uma lista dentro de outra lista😁
Lista = [10,11,12, "texto1", "texto2", [25,26,27]] 
print("Selecionando apenas o elemento 5, iremos acessar os 3 elementos da lista:",Lista[5]) #Selecionando apenas o elemento 5, iremos acessar os 3 elementos da lista
print("Colocamos novamente o colchete e agorar conseguiremos acessar o apenas o número 25. Resultado:",Lista[5][0]) #E seu quisesse acessar apenas o número 25? Da mesma forma que eu acessei a lista anterior contando a partir de zero. Vamos fazer da mesma forma.
                                                                                                                    # Assim como inserimos uma lista de dentro de outra lista, podemos inserir várias outras. Não é saudável, mas podemos fazer.
type(Lista)

Selecionando apenas o elemento 5, iremos acessar os 3 elementos da lista: [25, 26, 27]
Colocamos novamente o colchete e agorar conseguiremos acessar o apenas o número 25. Resultado: 25

list

In [ ]:
                           #Sabia que podemos usar o Len dentro de uma lista?😁
len(Lista)# a lista tem 6 elementos, sendo assim o index dela vai de 0 a 5

6

In [ ]:
Lista[6] # se colocarmos um index que nao esta na proporção(range) da lista, retornará com erro
          # A proporção de index e tamanho da lista sempre vai ser o tamanho maximo da lista -1

NameError: ignored

In [ ]:
tamanho = len(Lista)
Lista[tamanho - 1] # Agr eu consigo ate fazer manipulações para acessar os itens da lista

[25, 26, 27]

In [ ]:
                                                     # Outras funções da Lista
Lista = [10,20,30,40,2,1]

tamanho =len(Lista)
print("tamanho da lista:", tamanho)

menor_valor = min(Lista)
print("o menor valor da lista é", menor_valor)

maior_valor = max(Lista)
print("o maior valor é", maior_valor)

soma = sum(Lista)
print("A soma da lista é", soma)

Lista.append(999)
print("Iremos acrescentar o 999",Lista)

Lista.sort()# vamos ordenar a lista 
print("Estamos ordenando a lista",Lista)

Lista.pop(5) #vamos remover o quinto elemento da lista(1)
print("Removemos o quinto elemento da Lista",Lista)

Lista.pop() #Se eu nao definir um elemento de exclusão, o pop exclui o último elemento
print("Se eu nao definir um elemento de exclusão, o pop exclui o último elemento",Lista)

tamanho da lista: 6
o menor valor da lista é 1
o maior valor é 40
A soma da lista é 103
Iremos acrescentar o 999 [10, 20, 30, 40, 2, 1, 999]
Estamos ordenando a lista [1, 2, 10, 20, 30, 40, 999]
Removemos o quinto elemento da Lista [1, 2, 10, 20, 30, 999]
Se eu nao definir um elemento de exclusão, o pop exclui o último elemento [1, 2, 10, 20, 30]

In [ ]:
                    #Valores Booleanos(retorna apenas dois tipos, true ou false)
lista = ['pedro', "joão", "luiz"]

"joão" in lista #quero saber se o nome joão esta na lista

True

In [ ]:
lista = ['pedro', "joão", "luiz"]

"João" in lista #O python é case sensitive(se importa com letra maiuscula e minuscula), então se eu colocar João(inicial maiuscula, irá retornar False)

False

In [ ]:
#Concatenção de listas
lista = ['pedro', "joão", "luiz"]
lista2 = [10,20,30,40,2,1]
print("Estamos concatenando listas:", lista + lista2)

lista = [1,2]#repetição de uma lista
print(lista * 5)

Estamos concatenando listas: ['pedro', 'joão', 'luiz', 10, 20, 30, 40, 2, 1]
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [ ]:
# Fatiamento de uma lista
lista = ['pedro', "joão", "luiz", 10,20,30,40,2,1]

fatia1 = lista[2:4]#quero pegar: luiz(2), 10,20(4)
print("vai retornar o último elemento= 10, mesmo eu querendo 20. Na proxima execução vai vir o correto:",fatia1)

vai retornar o último elemento= 10, mesmo eu querendo 20. Na proxima execução vai vir o correto: ['luiz', 10]

In [ ]:
# Fatiamento de uma lista
lista = ['pedro', "joão", "luiz", 10,20,30,40,2,1]

fatia1 = lista[2:5]#O index final sempre pega o anterior, então se eu quero 20, tem vez de colocar 4, tenho que colocar 5.
print("Agora sim, quero o luiz, 10 e 20 e Retornou:",fatia1)

fatia2 = lista[2:] #quero pegar do luiz ate o final
print("Quero pegar do luiz ate o final e Retornou:",fatia1)

fatia3 = lista[:3] #quero pegar apenas os nomes.Lembrando q seu quero pegar  ate o luiz, o meu index final tem que ser 3
print("Quero pegar apenas os nomes. Retornou:",fatia1)

Agora sim, quero o luiz, 10 e 20 e Retornou: ['luiz', 10, 20]
Quero pegar do luiz ate o final e Retornou: ['luiz', 10, 20]
Quero pegar apenas os nomes. Retornou: ['luiz', 10, 20]

In [ ]:
#quero uma lista de 1 a 10. Então vamos criá-la usando o range.

lista = range(1,10)
print("Vai retornar apenas dois elementos, porque o python ja entende como uma lista de 1 a 10, apenas não deixa visível:",lista)

lista = range(1,10)
list(lista)#Para conseguirmos visualizar, temos que usar o list

lista = range(1,11)
list(lista)# e se quisermos realmente os numeros de 1 a 10? Temos que colocar um a mais no index.

Vai retornar apenas dois elementos, porque o python ja entende como uma lista de 1 a 10, apenas não deixa visível: range(1, 10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
lista = range(10)
list(lista)# e se quisermos uma lista com tamanho 10? Ele vai me mostrar ate o nove, pois esta contando com zero

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#lista com staps

lista = range(1,101,5)# quero que a lista pule de 5 em 5
list(lista)

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

> ***DESAFIO***


Dada a lista L = [5, 7, 2, 9, 4, 1, 3], escreva um programa que imprima as seguintes informações:


1.  tamanho da lista.
2.  maior valor da lista.
3.  menor valor da lista.
4. soma de todos os elementos da lista.
5. lista em ordem crescente.
6.  lista em ordem decrescente.
7. Gere uma lista de contendo os múltiplos de 3 entre 1 e 50.

In [ ]:
Lista = [5, 7, 2, 9, 4, 1, 3]

TamanhoLista = len(Lista)
print("Tamanho da lista", TamanhoLista)


maior_valor = max(Lista)
print("O maior valor é", maior_valor)
      

menor_valor = min(Lista)
print("o menor valor da lista é", menor_valor)

soma = sum(Lista)
print("A soma da lista é", soma)

Lista.sort()
print("A ordem crescente da  lista é", Lista)

Lista.reverse()
print("A ordem decrescente da  lista é", Lista)

Lista = range(1, 51, 3) #Gere uma lista de contendo os múltiplos de 3 entre 1 e 50.
list(Lista)

Tamanho da lista 7
O maior valor é 9
o menor valor da lista é 1
A soma da lista é 31
A ordem crescente da  lista é [1, 2, 3, 4, 5, 7, 9]
A ordem crescente da  lista é [9, 7, 5, 4, 3, 2, 1]

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]

> ***DESAFIO 2***

1.  Escreva um teste de numeros impares.
2.  Escreva um teste de numeros pares.

In [ ]:
#1
# um teste de numeros impares
x = 1

if x%2 != 0:
  print("Impar")
else:
  print("...")

In [ ]:
#2
# um teste de numeros pares
x = 2

if x%2 != 0:
  print("Impar")
else:
  print("par")